<section>
    <div class="col s-100 title" [class.m-50]="title" >
        <h2 class="s-mb-0">{{ title }}</h2>
    </div>
</section>
<section class="row">
    <div class="col">
      <div class="mat-elevation-z1 table">
        <div class="responsive">
          <table mat-table>
          </table>
        </div>
      </div>
    </div>
  </section>