<mat-card class="card" (click)="openDialogInfo(content)">
    <mat-card-header class="miband">
      <mat-card-title>
      </mat-card-title>
      <mat-card-title></mat-card-title>
    </mat-card-header>
    <mat-card-subtitle>
    </mat-card-subtitle>
    <mat-card-content>
      <img mat-card-image src={{content.picture.large}} alt="Photo of a Shiba Inu">
    </mat-card-content>
  </mat-card>