<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
      <mat-toolbar>
        <span color="primary">Menu</span>
      </mat-toolbar>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <mat-toolbar class="footer">
            <app-footer></app-footer>
        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>
<main>
    <section class="row">
      <div class="col">
        <br>
        <h2>Personas</h2>
      </div>
    </section>
    <ng-container>
        <app-list></app-list>
    </ng-container>
</main>