<!-- <mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-toolbar>
      <span color="primary">Menu</span>
    </mat-toolbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header></app-header>
  </mat-sidenav-content>
</mat-sidenav-container> -->
<router-outlet></router-outlet>
