<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-toolbar>
      <span color="primary">Menu</span>
    </mat-toolbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-lateral-menu></app-lateral-menu>
  </mat-sidenav-content>
</mat-sidenav-container>