<h2 mat-dialog-title>Información personal</h2>
<mat-dialog-content>
  <ul>
    <li>
      Nombre: {{data.name.first}}
    </li>
    <li>
      Edad: {{data.dob.age}}
    </li>
    <li>
      Email: {{data.email}}
    </li>
    <li>
      celular: {{data.cell}}
    </li>
  </ul>
</mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button color="accent"  (click)="dialogRef.close()">OK</button>
  </mat-dialog-actions>