.items{
    margin: 1rem auto;
    width:100%;
    max-width:960px;
    column-count: 3;
}

@media (max-width: 767px) { 
    .galeria {
        columns:2;
    }

}

@media (max-width: 480px) {
    .galeria {
        columns: 1;
    }
}