<mat-toolbar class="sidenav-header" color="primary">
    <h1 class="header-title from-m">
      <div class="header-title__subtitle">
        Lista de
      </div>
      Personas
    </h1>
    <span class="spacer"></span>
    <div class="menu">
      <button
        type="button"
        class="menu__toggle"
        aria-label="Toggle sidenav"
        mat-icon-button
      >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          <span class="fill-remaining-space"></span>
      </button>
    </div>
</mat-toolbar>
 <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      [attr.role]="isHandset ? 'dialog' : 'navigation'"
      [mode]="isHandset ? 'over' : 'side'"
      [opened]="!isHandset"
    >
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>