body{
    font-family: 'Raleway', sans-serif;
  }
  $heightHeader: 85px;
  $heightFooter: 80px;

  .spacer{
    flex: 1 1 auto;
  }

  .sidenav {
    &-header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: $heightHeader;
    }
    &-container {
      position: absolute;
      top: $heightHeader;
      bottom: $heightFooter;
      left: 0;
      right: 0;
    }
  }
  
  .header-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
    &__subtitle {
      font-weight: 400;
    }
  }
  